# .gitignore
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.h5
.env
.venv
env/
venv/
ENV/
.ipynb_checkpoints
.python-version

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
